:root {
  font-family: 'SF Mono', 'Cascadia Code', 'Fira Code', monospace;
  line-height: 1.4;
  color: #ccc;
  background-color: #0a0a0a;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
